/* если вы хотите чтобы размеры не витывались в размер а плюсовались */

/* основной цвет текста #212121; черный */
/* вторичный цвет текста #757575; серый */
/* макет сайта основной фона #FFFFFF; белый */
/* акцент текста #2196F3; голубой */
/* макет сайта вторичный фон #F5F4FA; серый */
/* макет фона header,footer #2F303A; темно-серый */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-bg: #ffffff;
    --accent-color: #2196f3;
    --secondary-bg: #f5f4fa;
    --heder-footer-bg: #2f303a;
  }
  /* основной текс */
  body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg);
  
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0;
  }
  
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .aling-center {
    text-align: center;
  }
  
  img {
  margin: 0;
  }
  
  /* header------------------------------------------- */
  
  .header > .container {
    display: flex;
    align-items: center;
  }
  .header__menu {
    display: flex;
  
  }
  
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header {
    border-bottom: 1px solid #ececec;
  }
  
  .header__logo {
    display: block;
    margin-right: 93px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  
  .header__web {
    color: var(--accent-color);
  }
  
  .header__studio {
    color: var(--primary-text-color);
    margin: 0;
  }
  
  .header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  
    color: var(--primary-text-color);
  
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header__link.current {
    color: var(--accent-color);
  }
  
  .header__link:hover,
  .header__link:focus {
    color: var(--accent-color);
  }
  
  .header__link.current {
  position: relative;
  }
  
  .header__link.current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    
    
    background: #2196F3;
    border-radius: 2px;
  }
  
  .header-contacts {
    display: flex;
    margin-left: auto;
    list-style-type: none;
  }
  
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .header-contacts__link {
    display: flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--secondary-text-color);
    fill: #757575;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-contacts__icon {
    display: flex;
    margin-right: 10px;
  }
  
  .header-contacts__link:hover,
  .header-contacts__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  
  /* -------Герой-------------------------------------- */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;
  
    background-color: var(--heder-footer-bg);
    background-image: url(../images/hero/Img\ Overlay.png),
      url(../images/hero/Img.jpg);
    /* background-repeat:
    background-size:
    background-position:
    box-shadow:  */
  
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero__title {
    display: block;
    max-width: 700;
    margin-left: auto;
    margin-right: auto;
  
    color: var(--primary-bg);
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    /* все буквы заглавные */
    text-transform: uppercase;
    width: 696px;
    height: 120px;
  }
  
  .hero__button {
    display: block;
    margin: auto;
    height: 50px;
    line-height: 50;
    position: relative;
    height: 50px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-bg);
    font-family: Roboto;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 40px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .hero .button-primary:hover,
  .button-primary:focus {
    background: #188ce8;
  }
  
  /*Секция особенности---------------------------------------*/
  
  .features__list {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
  }
  
  .features__items {
    width: calc((100% - 90px) / 4);
  }
  
  .features__items:not(:last-child) {
    margin-right: 30px;
  }
  
  .features__items::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-bg);
    border-radius: 4px;
  }
  
  .features__items:nth-child(1)::before {
    background-image: url(../images/features/antenna.svg);
  }
  
  .features__items:nth-child(2)::before {
    background-image: url(../images/features/clock.svg);
  }
  
  .features__items:nth-child(3)::before {
    background-image: url(../images/features/diagram.svg);
  }
  
  .features__items:nth-child(4)::before {
    background-image: url(../images/features/astronaut.svg);
  }
  
  .features__title {
    margin-top: 30px;
    color: var(--primary-text-color);
  
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  
  .features__paragraph {
    margin-top: 10px;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  /* секция работа ----------------------------------- */
  .work__list {
    margin-top: 50px;
    padding-bottom: 94px;
    display: flex;
  }
  .work__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .work__title {
    display: block;
    color: var(--primary-text-color);
  
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  
  .work__images {
    display: block;
  }
  
  .work__item {
  position: relative;
  }
  
  .work__content {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--primary-bg);
    background: rgba(47, 48, 58, 0.8);
  }
  
  
  /* Секция команда --------------------------------------- */
  .team {
    background: var(--secondary-bg);
  }
  
  .team__list {
    display: flex;
    margin-top: 50px;
  }
  
  .team__description {
    background-color: var(--primary-bg);
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team__description:not(:last-child) {
    margin-right: 30px;
  }
  
  
  .team__padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .team__title {
    display: block;
    color: var(--primary-text-color);
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }
  
  .team__name {
    display: block;
    margin-top: 30px;
    color: var(--primary-text-color);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  
  .team__desc {
    display: block;
    margin-top: 10px;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
  
  .team__networks {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .team__social {
    display: flex;
    padding: 12px;
    border-radius: 50%;
  
    fill: #afb1b8;
    transition-property: border-radius, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .team__social:hover,
  .team__social:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: #ffffff;
  }
  
  /* секция клиентв--------------------------------------------- */
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .clients__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  .clients__title, h2 {
  margin-top: 0;
  }
  
  .clients__list {
    display: flex;
    margin-top: 50px;
  }
  
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .clients__link {
    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients__link:hover,
  .clients__link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
  
  .clients__icon {
    height: 50px;
  }
  
  
  /* Сеукция футер ------------------------------------------------- */
  .footer__container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer {
    background-color: var(--heder-footer-bg);
  }
  
  .footer__logo {
    margin-bottom: 20px;
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }

  .footer__studio {
    color: var(--primary-bg);
  }
  
  .footer__address {
    margin-top: 20px;
    font-style: normal;
  }

  .footer__map {   
    display: block;
    margin-bottom: 9px;
    color: var(--primary-bg);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .footer__link {
    display: block;
    margin-bottom: 9px;
    color:  rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .footer__social {
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
  
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer__join {
    margin-left: 70px;
    padding-top: 13px;
  }
  
  .footer__title {
    display: block;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .footer__list {
    display: flex;
    margin-top: 20px;
  }
  
  .footer__social {
    padding: 12px;
  
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
  
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
  
  .footer__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer__social:hover,
  .footer__social:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: #ffffff;
  }

  /* ------------------------------------- */
  
  .footer__form-container {
    display: block;
    margin-left: 93px;
    padding-top: 13px;
    margin-left: auto;
  }
  
  .footer__mail {
    margin-bottom: 20px;
    width: 219px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
  color: var(--primary-bg);
  }
  
  .footer__helper {
    margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  
  
    width: 358px;
  
  background: #2F303A;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  
  background-color: transparent;
  }
  
  .footer__helper::placeholder {
    width: 47px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer__button-icon {
    color: var(--primary-bg);
  }
  
  .footer__form-container button {
   display: flex;
   align-items: center;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 29px;
  
    width: 200px;
    color: var(--primary-bg);
  
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 0;
  }
  
  .footer__form-container button:hover,
  .footer__form-container button:focus {
  background-color: #188ce8 ;
  }
  
  .footer__form {
    display: flex;
    align-items: flex-end;
  }
  
  .footer__button-icon {
  margin-left: 10px;
  justify-content: center;
  }
  
  
  
  /* Вторая страница сайта -------------------------------------- */

  .portfolio__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .portfolio__filter {
    display: flex;
    justify-content: center;
  }
  
  .portfolio__link-filter {
    margin-right: 8px;
    padding: 6px 22px;
  
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
  
    color: var(--primary-text-color);
    background-color: var(--secondary-bg);
    border-radius: 4px;
    border: 0;
  
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio__link-filter:hover,
  .portfolio__link-filter:focus {
    color: var(--primary-bg);
    background-color: var(--accent-color);
  }
  .portfolio__content {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfolio__link {
    text-decoration: none;
  }
  
  .portfolio__content-items {
    position: relative;
    background-color: var(--primary-bg);
    width: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;
  
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio__content-items:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio__content-items:not(:nth-child(-n + 3)) {
    margin-top: 30px;
  }
  
  .portfolio__content-items .img-block {
    margin-bottom: 20px;
  }
  
  .portfolio__title {
    margin-top: 20px;
    padding-left: 24px;
  
    color: var(--primary-text-color);
  
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
  }
  
  
  .portfolio__paragraph {
    /* display: block; */
    margin-top: 4px;
    padding-left: 24px;
    padding-bottom: 20px;
    color: var(--secondary-text-color);
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
  }
  
  p {
  margin: 0;
  }
  /* только это */
  .portfolio__content-items:hover {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio__box-text {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 24px;
    padding-left: 24px;
  
    font-size: 18px;
    line-height: 1.555;
    color: #ffffff;
    opacity: 0;
    
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }
  
  .portfolio__link:hover .portfolio__box-text,
  .portfolio__link:focus .portfolio__box-text {
    opacity: 1;
    transform: translateY(0);
  }
  
  .portfolio__content-overlay {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .portfolio__content-overlay::before {
  display: inline-block;
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  }
  
  .portfolio__link:hover .portfolio__content-overlay::before,
  .portfolio__link:focus .portfolio__content-overlay::before {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* ------------------------------------------------------- */
  
  /* кнопка */
  .backdrop {
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.2);
    opacity: 1;
  
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  }
  
  .modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
  
  min-width: 528px;
  min-height: 581px;
  
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    width: 30px;
  height: 30px;
    
  background-color: var(--primary-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__button:hover,
  .modal__button:focus {
    fill: var(--accent-color);
  }
  
  .form__field {
    flex-direction: column;
  }
  
  .form__text {
   margin-bottom: 12px;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
  
    color: var(--primary-text-color);
  }
  
  .form__label {
    position: relative;
    display: block;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }
  
  .form__label:nth-child(n - 3) {
    margin-bottom: 10px;
  }
  
  .form__input {
    display: block;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 16px;
    width: 100%;
    resize: none;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__input:focus,
  .form__input:hover {
    border: 1px solid var(--accent-color);
  }
  
  .form__input:focus  ~ .form__icon,
  .form__input:hover  ~ .form__icon {
  fill: var(--accent-color);
  }
  
  .form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__coments {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  
    margin-top: 4px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    display: block;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__input.coments::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  
  .form__coments:hover,
  .form__coments:focus {
    border: 1px solid var(--accent-color);
  }
  
  .form__checkbox {
    margin-right: auto;
    margin-left: 9px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--secondary-text-color);
  }
  
  .form__content-check .link {
    margin-left: 4px;
    color: var(--accent-color);
  }

  .form__checkbox-icon {
    margin-right: 7px;
  
    width: 16px;
    height: 15px;
  
    border: 1px solid #212121;
    border-radius: 4px;
    fill: #ffffff;
    background-color: #ffffff;
  
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__checkbox-icon svg {
    display: block;
  }
  
  .form__content-button {
    display: flex;
   
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 55px;
   padding-left: 56px;
   
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
    
   color: var(--primary-bg);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__content-button:hover,
  .form__content-button:focus {
    background: #188ce8;
  }
  
  .form__checkbox:checked ~ .form__checkbox-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  .form__label .form__link {
    margin-left: 4px;
    color: var(--accent-color);
  }
  
  .form__content-check {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
     
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--secondary-text-color);
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .form__link {
  color: var(--accent-color);
  margin-left: 4px;
  }